<!DOCTYPE html>
<div class="container" ng-controller="ReservationController">
	<form>
		<div class="form-group row">
			<label for="example-text-input" class="col-xs-2 col-form-label">aereferece</label>
			<div class="col-xs-10">
				<input class="form-control" type="text"
					ng-model="reservationResource.aeReference" id="example-text-input">
			</div>
		</div>
		<div class="form-group row">
			<label for="example-search-input" class="col-xs-2 col-form-label">ae
				code</label>
			<div class="col-xs-10">
				<input class="form-control" type="search"
					ng-model="reservationResource.aeCode" id="example-search-input">
			</div>
		</div>
		<div class="form-group row">
			<label for="example-email-input" class="col-xs-2 col-form-label">Email</label>
			<div class="col-xs-10">
				<input class="form-control" type="email"
					value="bootstrap@example.com" id="example-email-input">
			</div>
		</div>
		<button ng-click="updateReservation(reservationResource)">Submit</button>
	</form>
	
	{{reservationResponse}}
</div>
